<!DOCTYPE html>
<html>
<head>
<title>Voice Help</title>
</head>
<body>
	<h1>Text-to-Speech</h1>
	<form action='/trigger' method='post'>
		<label>Text to be converted</label>
		<input type="text" autocomplete="off" autofocus placeholder="Text to be converted into voice" name="texttospeech">
		<h4>OR</h4><br>
		<label>Article URL: </label>
		<input type="text" autocomplete="off" autofocus placeholder="Text to be converted into voice" name="articleurl">
		<input type="submit" value="Submit">
	</form>
</body>
</html>